# x = 3
# y = float(3)
# print(x,y)

# values = [1,2.23,5,7,2,30,15]
# print(values)
# for i in values:
#     print i
# print(values[0])
# print(values[6])

x = "this is a thing"
y = x.split( )
z = y[0]
print(y)
print(z)

# while True:
#      print("running")
# x = 5
# i = 0
# while i < 5:
#      print(i)
#      i +=1

# Import random

# y = random.radint (1,100)
# print(y)

# x = input ("do you wanna buy a thing? (y/n)")

# while x is not "n":
#     item = input("what ya wanna buy")
# print("thanks for your purchase")